[Desktop Entry]
Name=ncon
Comment=GPU-accelerated console terminal
Comment[ja]=GPU アクセラレーション対応コンソールターミナル
Exec=/usr/local/bin/ncon-session
TryExec=/usr/local/bin/ncon
Type=Application
DesktopNames=ncon
X-GDM-SessionRegisters=true
